---
http_interactions:
- request:
    method: get
    uri: https://www.omg.org/spec/NOTEXIST/1.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Content-Disposition:
      - inline;filename=f.txt
    body:
      encoding: ASCII-8BIT
      string: '{"timestamp":"2024-01-03T05:04:21.101+00:00","status":404,"error":"Not
        Found","path":"/spec/NOTEXIST/1.1"}'
  recorded_at: Wed, 03 Jan 2024 05:04:21 GMT
recorded_with: VCR 6.2.0
