---
http_interactions:
- request:
    method: get
    uri: https://www.omg.org/spec/NOTEXIST/1.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json
      Content-Disposition:
      - inline;filename=f.txt
    body:
      encoding: ASCII-8BIT
      string: '{"timestamp":"2025-03-02T03:48:53.166+00:00","status":404,"error":"Not
        Found","path":"/spec/NOTEXIST/1.1"}'
  recorded_at: Sun, 02 Mar 2025 03:48:52 GMT
recorded_with: VCR 6.3.1
