---
http_interactions:
- request:
    method: get
    uri: https://www.omg.org/spec/NOTEXIST/1.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Content-Disposition:
      - inline;filename=f.txt
    body:
      encoding: ASCII-8BIT
      string: '{"timestamp":"2022-12-01T00:22:09.906+00:00","status":404,"error":"Not
        Found","path":"/spec/NOTEXIST/1.1"}'
  recorded_at: Thu, 01 Dec 2022 00:22:09 GMT
recorded_with: VCR 6.1.0
