---
http_interactions:
- request:
    method: get
    uri: https://www.omg.org/spec/NOTEXIST/1.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Content-Disposition:
      - inline;filename=f.txt
    body:
      encoding: ASCII-8BIT
      string: '{"timestamp":"2023-10-18T16:46:23.947+00:00","status":404,"error":"Not
        Found","path":"/spec/NOTEXIST/1.1"}'
  recorded_at: Wed, 18 Oct 2023 16:46:23 GMT
recorded_with: VCR 6.2.0
