---
http_interactions:
- request:
    method: get
    uri: https://www.omg.org/spec/NOTEXIST/1.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json
      Content-Disposition:
      - inline;filename=f.txt
    body:
      encoding: ASCII-8BIT
      string: '{"timestamp":"2024-08-01T23:45:57.473+00:00","status":404,"error":"Not
        Found","path":"/spec/NOTEXIST/1.1"}'
  recorded_at: Thu, 01 Aug 2024 23:45:57 GMT
recorded_with: VCR 6.2.0
