---
http_interactions:
- request:
    method: get
    uri: https://www.omg.org/spec/NOTEXIST/1.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Disposition:
      - inline;filename=f.txt
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"timestamp":"2022-06-24T15:27:12.751+00:00","status":404,"error":"Not
        Found","message":"","path":"/spec/NOTEXIST/1.1"}'
  recorded_at: Fri, 24 Jun 2022 15:27:12 GMT
recorded_with: VCR 6.1.0
