---
http_interactions:
- request:
    method: get
    uri: https://www.omg.org/spec/NOTEXIST/1.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Disposition:
      - inline;filename=f.txt
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"timestamp":"2022-01-28T17:40:17.576+00:00","status":404,"error":"Not
        Found","message":"","path":"/spec/NOTEXIST/1.1"}'
  recorded_at: Fri, 28 Jan 2022 17:40:17 GMT
recorded_with: VCR 6.0.0
